@using Microsoft.AspNet.Identity
@*PASTEL*@
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("SmartLogin", "Account", FormMethod.Post, new
    {
        id = "logoutForm",
        @class = "navbar-nav ml-auto mt-2 mt-lg-0"
    }))

    //using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new
    //{
    //    id = "logoutForm",
    //    @class = "navbar-nav ml-auto mt-2 mt-lg-0"
    //}))

    {
        @Html.AntiForgeryToken()

        <ul class="navbar-nav ml-auto mt-2 mt-lg-0 ">
            <li class="nav-item">
                @Html.ActionLink("Bienvenido  " + " - " + User.Identity.GetUserName() + "  ", "Index", "Manage", routeValues: null,
               htmlAttributes: new { title = "Manage", @class = "nav-link" })
            </li>
            <li class="nav-item"><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
        </ul>


    }
}
else
{
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0 ">
        @*<li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null,
            htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>*@
        <li>@Html.ActionLink("Iniciar sesión", "SmartLogin", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
    </ul>
}