<br/>
<div class="row">
    <div class="col-md-12">
        <a id="btnNuevo" data-toggle="modal"
           href="#myModal"
           class="btn btn-primary  ">
            Agregar
        </a>
    </div>
</div>
<br />

<div class="modal fade" tabindex="-1" role="dialog" arial-hidden="true"
     style="display:none;"
     id="myModal">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Registrar</h5>
                <button type="button" class="close" aria-hidden="true"
                        data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div id="modal-content">

                    Cargando...

                </div>
            </div>
        </div>
    </div>
</div>
